<main class="card shadow-xl max-w-screen-xl mx-auto my-24 bg-neutral text-neutral-content">
    <form class="card-body form-control flex gap-2">
        <h1 class="text-3xl">Testimoni</h1>
    
        <label class="form-control">
          <div class="label">
            <span class="label-text text-neutral-content">Rating</span>
          </div>
          <div class="rating rating-lg gap-1">
            <input type="radio" name="rating" value="1" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="3" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="4" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="5" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="6" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="7" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="9" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating" value="10" class="mask mask-star-2 bg-orange-400" />
          </div>
        </label>
    
        <label class="form-control">
          <div class="label">
            <span class="label-text text-neutral-content">Komentar</span>
          </div>
          <textarea 
            class="textarea textarea-bordered h-24 bg-neutral-focus text-neutral-content" 
            name="comment" 
            placeholder="Tulis komentar Anda di sini..."
            required
          ></textarea>
        </label>
    
        <div class="card-actions justify-end mt-4">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>     
</main>