<html data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <title>SIJARTA - AMBASDAT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="navbar bg-neutral text-neutral-content shadow-md sticky top-0 z-50">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl font-bold">SIJARTA</a>
        <p>Selamat datang pekerja, Okarun</p>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1 space-x-2">
          <li><a href="/home">Home</a></li>
          <li><a href="/pekerjaan">Kelola Pekerjaan Saya</a></li>
          <li><a href="/pekerjaan/status">Kelola Status Pekerjaan</a></li>
          <li><a href="/mypay">MyPay</a></li>
          <li><a href="/profile/pekerja/asdf">Profile</a></li>
        </ul>
      </div>
      <form method="POST" action="/auth/logout" class="m-0">
        <button class="btn btn-error btn-sm">Logout</button>
      </form>
    </nav>
    {{{body}}}
  </body>
</html>
