<main
  class="card shadow-xl max-w-screen-xl mx-auto my-24 bg-neutral text-neutral-content"
>
  <div class="flex w-full flex-col">
    <div class="stats mx-2 my-2 shadow-xl">

      <div class="stat">
        <div class="stat-title">Account balance</div>
        <div class="stat-value">Rp. 89.900,400</div>
        <div class="stat-title pt-5">
          <strong>08123456789</strong>
        </div>
      </div>

      <div class="stat place-items-center">
        <a
          href="/mypay/transaction"
          class="btn btn-outline btn-primary"
        >Transaksi</a>
      </div>

    </div>

    <div class="divider"></div>

    <div class="card card-body mx-auto bg-base-100 shadow-xl">
      <h2 class="stat-value">Riwayat Transaksi</h2>
    </div>

    <ul class="menu menu-lg rounded-box">
      <li>
        <ul>
          <li>
            <div
              class="bg-base-100 shadow-xl my-1 grid grid-cols-[2fr_1fr_1fr] items-center gap-4 p-4"
            >
              <h2 class="card-title">Rp. 100.000,00</h2>
              <p class="text-left text-xs">12/08/2024 14:35:45</p>
              <div class="badge badge-outline">TopUp Mypay</div>
            </div>
          </li>
          <li>
            <div
              class="bg-base-100 shadow-xl my-1 grid grid-cols-[2fr_1fr_1fr] items-center gap-4 p-4"
            >
              <h2 class="card-title">Rp. 100.000,00</h2>
              <p class="text-left text-xs">12/08/2024 14:35:45</p>
              <div class="badge badge-primary badge-outline">Payment</div>
            </div>
          </li>
          <li>
            <div
              class="bg-base-100 shadow-xl my-1 grid grid-cols-[2fr_1fr_1fr] items-center gap-4 p-4"
            >
              <h2 class="card-title">Rp. 100.000,00</h2>
              <p class="text-left text-xs">12/08/2024 14:35:45</p>
              <div class="badge badge-secondary badge-outline">Transfer</div>
            </div>
          </li>
          <li>
            <div
              class="bg-base-100 shadow-xl my-1 grid grid-cols-[2fr_1fr_1fr] items-center gap-4 p-4"
            >
              <h2 class="card-title">Rp. 100.000,00</h2>
              <p class="text-left text-xs">12/08/2024 14:35:45</p>
              <div class="badge badge-accent badge-outline">Withrdrawal</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</main>