<main class="card shadow-xl max-w-screen-md mx-auto mt-24 bg-neutral text-neutral-content">
  <form class="card-body form-control flex gap-2">
    <h1 class="text-3xl">Login</h1>

    <label class="form-control">
      <div class="label">
        <span class="label-text">No HP</span>
      </div>
      <input name="phone" type="text" class="input input-bordered bg-neutral" />
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Password</span>
      </div>
      <input name="password" type="password" class="input input-bordered bg-neutral" />
    </label>

    <div class="card-actions justify-end">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</main>
