<main class="card shadow-xl max-w-screen-sm mx-auto mt-24 bg-neutral text-neutral-content">
  <div class="card-body form-control flex text-center gap-2">
    <h1 class="text-3xl mb-4">SIJARTA by AMBASDAT</h1>
    <a href="/auth/login" class="btn btn-primary">Login</a>
    <a href="/auth/register" class="btn btn-primary">Register</a>
  </div>
</main>
